@use '../../../colors.scss';

.introduction{
    display: flex;
    flex-direction: column;

    background: url('../../../misc/introduction-background.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding: 8rem 10%;

    .form{
        justify-self: center;
    }
}

@media (max-width: 599px) {
    .introduction{
        padding: 2.5rem 1rem;
    }
}