.login-popup {
  position: absolute;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 10;
  padding: 24px;
  img {
    opacity: 1;
  }
  .logo-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .login-title {
    font-family: "ClearSansLight";
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  .login-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 8px;
    margin: 20px 0;
    button {
      padding: 14px;
      border: 1px solid #bebebe;
      font-family: "ClearSansLight";
      font-size: 16px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
      padding: 15px;
      border: 1px solid #bebebe;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }
  .esqueceu-senha {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0;
    text-decoration: underline;
    color: #000;
    margin: 20px 0;
  }
  label {
    font-family: "ClearSansLight";
    font-size: 16px;
    color: #777777;
  }
  .button-login {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #60c0bf;
    font-family: "ClearSansLight";
    font-size: 16px;
    color: #fff;
    margin: 20px 0;
  }
  .register-wrapper p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-family: "ClearSansLight";
      font-size: 16px;
      color: #333333;
      text-align: center;
    }
    button {
      text-decoration: underline;
      color: #000;
      background-color: #fff;
    }
  }
}
.background {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: 1;
}
