.result-container{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    padding: 2.5rem 4rem;

    .results{
        display: flex;
        flex-wrap: wrap;

        align-content: space-around;

        column-gap: 3rem;
        row-gap: 4rem;
    }
}

@media (max-width: 599px) {
    .result-container{
        h2{
            text-align: center;
        }
    }
    .results{
        flex-direction: column;
        flex-wrap: wrap;

        align-content: space-around;
    }
}